.btn {
  border-radius: 223px;
  padding: 10px 26px;
  display: inline-block;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  background: var(--sky-blue-color);
  text-decoration: none;
  align-items: center;
  justify-content: center;
  margin-right: 77px;
}

.btn:hover {
  background-color: #386cf5;
  color: #ffffff;
  padding: 10px 26px;
  font-weight: 500;
  font-size: 16px;
}

nav .logo {
  margin-right: 235px;
  margin-left: 77px;
  margin-top: 17px;
}

nav .logo img {
  max-width: 132px;
  height: 62px;
}

.btn.large {
  border-radius: 50px;
  padding: 20px 104px;
}

header {
  /* height: 100vh; */
  width: 100%;
  border: 1px solid rebeccapurple;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100px;
  /* position: fixed; */

  width: 100vw;
  /* top: 36px; */
  /* margin-bottom: 100px; */
}

nav ul {
  display: flex;
  align-items: center;
  gap: 48px;
  list-style: none;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  color: #89929f;
}

nav ul li a:hover {
  color: #3177d8;
  font-weight: 600;
  font-size: 14px;
  /* border-radius: 45px; */
}

nav ul li .btn small a:hover {
  color: #3177d8;
  font-weight: 600;
  font-size: 14px;
  /* border-radius: 45px; */
  border: 1px solid rebeccapurple;
}
