@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --sky-blue-color: #3177d8;
  --dark-gray-color: #89929f;
  --dark-blue-color: #474755;
  --blue-color: #386cf5;
  --strong-dark-gray-color: #4e4e4e;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
