.para_noble {
  font-weight: 600;
  font-size: 32px;
  color: #474755;
  padding: 0px 40px;
  margin: 0px 150px;
  text-align: center;
}

.wrapper2 {
  color: #474755;
}

.input3 {
  width: 510px;
  margin-left: 420px;
  background: #f7f7f7;
}
